:root {
	--brdr: 3px solid darkcyan;
    --bg1: #090909;
    --bg2: #151515;
}


html{
	background: var(--bg1);
	color: white;
	font-family: sans serif;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}


body{
	background: var(--bg2);
	margin: auto;
	border-left: var(--brdr);
	border-right: var(--brdr);
	padding-bottom: 0px;
}

body p{
	margin: auto;
	padding-right: 10px;
	padding-left: 10px;
}

body footer p{
    padding-top: 10px;
    padding-bottom: 10px;
}

body a:link, a:visited{
    color: cyan;
    text-decoration: none;
}

header h1{font-size: 30pt;}

h1, h2{color: cyan; text-align: center;}

h3{color: white}

header nav{
	/*border-top: var(--brdr);*/
	border-bottom: var(--brdr);
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

nav a{
	padding-left: 10px;
	padding-right: 10px;
}

footer{border-top: var(--brdr);}

img.centerimg{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

hr.styled{
    height: 3px;
    border-width: 0;
    background-color: darkcyan;
}

.updates{
    display: grid;
    grid-template-rows: auto 449.06px; 
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "uh fh"
        "s i";
    
    grid-auto-flow: column;
    align-items: stretch;
    grid-gap: 10px 10px; /*rows columns*/
    
    margin: 10px;
}

@media (max-width: 600px){
    .updates{
        grid-template-rows: auto 300px auto auto;
        grid-template-columns: 1fr;
        grid-template-areas:
            "uh"
            "s"
            "fh"
            "i"
    }
}


.box{
	background: var(--bg1);
	border: var(--brdr);
}

.up-head{
    grid-area: uh;
}

.feat-head{
    grid-area: fh;
}

.scrollbox{
    grid-area: s;
    background: var(--bg1);
    border: var(--brdr);
	
    padding: 10px;
    max-height: 100%;
   
    overflow-y: auto; /*allows for scrolling if content exedes height*/
}

.featured-image{
    grid-area: i;
}


/*text*/
article.long-text p{
    margin-bottom: 10px;
}


/*gallery*/

.gallery{
    display: grid;
    grid-template-rows: auto; 
    grid-template-columns: repeat(auto-fit, minmax(162px,1fr));
    grid-auto-flow: row;
    grid-gap: 10px 10px; /*rows columns*/
    align-items: center;
    
    margin: 10px;
}

.art-container p{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.art-container img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.art-container img:hover{
    transform: scale(1.05);
}
