:root {
	--brdr: 3px solid darkcyan;
    --bg1: #090909;
    --bg2: #151515;
}


html{
	background: var(--bg1);
	color: white;
	font-family: sans serif;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}


body{
	background: var(--bg2);
	margin: auto;
	border-left: var(--brdr);
	border-right: var(--brdr);
	padding-bottom: 0px;
}
body p{
	margin: auto;
	padding-right: 10px;
	padding-left: 10px;
}
body footer p{
    padding-top: 10px;
    padding-bottom: 10px;
}
body a:link, a:visited{
    color: cyan;
    text-decoration: none;
}

header h1{font-size: 30pt;}
h1, h2{color: cyan; text-align: center;}
h3{color: white}
header nav{
	/*border-top: var(--brdr);*/
	border-bottom: var(--brdr);
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
nav a{
	padding-left: 10px;
	padding-right: 10px;
}

div.box{
	background: var(--bg1);
	border: var(--brdr);
}
div.scrollbox{
	background: var(--bg1);
	border: var(--brdr);
	
	padding: 10px;
	overflow-y: scroll;
	word-wrap: break-word;
}

div#updates{
	width: 300px;
	height: 200px;
	margin: 20px auto;
}

footer{border-top: var(--brdr);}

img.centerimg{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

hr.styled{
    height: 3px;
    border-width: 0;
    background-color: darkcyan;
}

.row{
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}
.column{
    flex: 50%;
}


/*gallery*/

.art-container{
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.art-container p{
	text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.art-container img{
    display: block;
	margin-left: auto;
	margin-right: auto;
    border: var(--brdr);
}
